body {
    background-color: #ebf1ea; /* Gray Nurse */
    color: #1d3e1d; /* #1d3e1d */
  }
  
  .bg-glade-green {
    background-color: #618f61; /* Glade Green */
  }
  
  .text-norway {
    color: #a3c2a3; /* Norway */
  }
  
  .text-tom-thumb {
    color: #345b34; /* Tom Thumb */
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  